header {
    background-color: #333;
    padding: 20px;
    color: #fff;
    text-align: center;
}

h1 {
    font-size: 28px;
    margin: 0;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
}

section {
    margin-bottom: 30px;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

ul {
    list-style-type: square;
}
